<!-- login pane -->
<div ng-hide="chat.status.started">
    <form name="myForm">
        <div class="row" style="margin: 50px 0;">
            <div class="span6" style="text-align: right;">
                <input style="width: 80%" ng-model="username" name="username" required type="text" placeholder="Your nick-name..">
                <span class="error" ng-show="myForm.username.$error.required">*</span><br>
            </div>
            <div class="span3">
                <a class="btn btn-primary" ng-disabled="myForm.username.$error.required" ng-click="init()">Start chatting!</a>
            </div>
        </div>
    </form>
</div>

<!-- error message -->
<div ng-show="!chat.status.started && chat.status.error" style="width: 40%; margin: 10px auto 40px; padding: 15px; text-align: center; background-color: #FFD0D0; -webkit-border-radius: 11px; -moz-border-radius: 11px; border-radius: 11px;">
    <strong>Error:</strong> {{chat.status.error}} <br/>
    Please try again later..
</div>

<!-- chat room -->
<div ng-show="chat.status.started">
    <div class="span7">
        <div class="row">
            <div class="span7">
                <textarea id="chat-history" style="width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; text-align: left; overflow-y: scroll; overflow-x: hidden; height: 350px;" ng-model="chat.data.history"></textarea>
            </div>
        </div>
    </div>

    <div class="span2" style="overflow-y: scroll; overflow-x: hidden; height: 350px;">
        <div>
            <span class="label label-info">Online Users</span>
        </div>
        <span ng-repeat="user in chat.data.users">{{user.name}} <br/></span>
    </div>

    <div class="clearfix"></div>

    <div class="span6">
        <input style="width: 100%;" ng-model="chat.data.messageText" name="messageText" type="text" placeholder="Type your message here..">
    </div>
    <div class="span3" style="text-align: right;">
        <input style="width: 65%" type="button" class="btn btn-primary" data-ng-disabled="chat.data.messageText == ''" ng-click="sendMessage()" value="Send!"/>
        <input style="width: 30%" type="button" class="btn btn-danger" ng-click="quit()" value="Quit"/>
    </div>

    <div class="clearfix"></div>

</div>
